# metadata fields which are authority controlled by CRISTIN
#
# TODO needs to be updated
#
metadata.authority = dc.title, dc.creator.author, dc.contributor.author, \
  						dc.description.abstract, dc.language.iso, dc.type

# XPath expressions to identify crosswalks required:
#
# These are the codes used to identify items:
#
#BOK/ANTOLOGI (Academic anthology)
#BOK/FAGBOK (Scientific book)
#BOKRAPPORTDEL/ANNET (Other)
#BOKRAPPORTDEL/KAPITTEL (Academic chapter/article)
#FOREDRAG/VIT_FOREDRAG (Academic lecture)
#RAPPORT/DRGRADAVH (Doctoral dissertation)
#RAPPORT/RAPPORT (Report)
#TIDSSKRIFTPUBL/ARTIKKEL (Academic article)
#TIDSSKRIFTPUBL/ARTIKKEL_POP (Popular scientific article)
#TIDSSKRIFTPUBL/OVERSIKTSART (Academic literature review)
#
xpath.CRISTIN_BOOK = /frida/forskningsresultat/fellesdata/kategori/hovedkategori[kode='BOK']
xpath.CRISTIN_ARTICLE = /frida/forskningsresultat/fellesdata/kategori/hovedkategori[kode='TIDSSKRIFTPUBL']
xpath.CRISTIN_CHAPTER = /frida/forskningsresultat/fellesdata/kategori/hovedkategori[kode='BOKRAPPORTDEL']
xpath.CRISTIN_CONFERENCE = /frida/forskningsresultat/fellesdata/kategori/hovedkategori[kode='FOREDRAG']
xpath.CRISTIN_REPORT = /frida/forskningsresultat/fellesdata/kategori/hovedkategori[kode='RAPPORT']
