# metadata fields which are authority controlled by CRISTIN
#
# TODO needs to be updated
#
metadata.authority = dc.title, dc.creator.author, dc.contributor.author, \
  						dc.description.abstract, dc.language.iso, dc.type