#################################################################
# extensions for the DSpace curate.cfg.  Replace or extend the
# configuration options in your live file with the options here
#################################################################
#
# We are adding the following:
#
# - a new curation task called duopolicy
# - the UI name for that curation task

plugin.named.org.dspace.curate.CurationTask = \
    org.dspace.ctask.general.NoOpCurationTask = noop, \
    org.dspace.ctask.general.ProfileFormats = profileformats, \
    org.dspace.ctask.general.RequiredMetadata = requiredmetadata, \
    org.dspace.ctask.general.ClamScan = vscan, \
    org.dspace.ctask.general.MicrosoftTranslator = translate, \
    org.dspace.ctask.general.MetadataValueLinkChecker = checklinks, \
    no.uio.duo.policy.DuoPolicyCurationTask = duopolicy

# Friendly names for curation tasks to appear in admin UI
# Also acts as a filter - i.e. tasks not enumerated here can still
# be invoked on cmd line, etc - just not in UI
ui.tasknames = \
     profileformats = Profile Bitstream Formats, \
     requiredmetadata = Check for Required Metadata, \
     checklinks = Check Links in Metadata, \
     duopolicy = Apply Duo Policy Pattern

