# Add the contents of this file to the basic dspace.cfg file

crosswalk.submission.FS.stylesheet= crosswalks/fs-submission.xsl

# these two fields are deliberately set the same...

# DC metadata field to hold the user-supplied embargo terms
embargo.field.terms = dc.date.embargoenddate

# DC metadata field to hold computed "lift date" of embargo
embargo.field.lift = dc.date.embargoenddate

event.dispatcher.default.consumers = search, browse, eperson, harvester, fs
event.consumer.fs.class = no.uio.duo.FSInstallConsumer
event.consumer.fs.filters = Item+Install
